# build
dist/
.astro/

# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.local
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.DS_Store

# AWS SAM
.aws-sam/
packaged.yaml

# Pagefind output (se regenera en cada build)
public/pagefind/

# Uploads pesados (Decap los mete vía CMS pero no queremos binarios raros)
# public/uploads/*.psd
# public/uploads/*.zip
